.tagList { margin:0; padding:0; display: block;}
.customTranslationList { margin:0; padding:0; display: block;}
.customTranslationListCustom { margin:0; padding:0; display: block;}
.tag-a { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}

.tag-b { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}

.tag-c { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}

.tag-d { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}

.tag-e { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}

.tag-f { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-g { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-h { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-i { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}

.tag-j { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}

.tag-k { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-l { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-m { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-n { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-o { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-p { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-q { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-r { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-s { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-t { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-u { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-v { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-w { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-x { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-y { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
.tag-z { 
  width:auto; height:auto; background-color:#FFFFFF;text-align:left; padding:5px;
  overflow:auto; font-size:100%; font-family:arial;display: block;
}
